<div ng-controller="flowInfoCtrl">
    <!-- Flows summary table start -->
    <label class="sectionTitle clickable narrow" ng-click="summaryExpand()" tooltip="{{'OF_FL_SUMMARY_EXPAND_TT' | translate}}">
        {{'OF_FLOW_SUMMARY' | translate }} &nbsp;
        <!-- <i class="{{summaryExpanded ? 'collapse-arrow-icon' : 'expand-arrow-icon'}}"></i> -->
    </label>
    <div ng-show="summaryExpanded">
        <table class="table dataTable no-footer">
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="iconWrapper" >
                            <a ng-click="modifySelectedFlows()"><i class="edit-icon-bordered" tooltip="Add Flows"></i></a>
                            <a ng-click="loadFlows()"><i class="reload-icon-bordered" tooltip="Reload Flows"></i></a>
                        </div>

                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>Device</th>
                    <th>Status</th>
                    <th>Datapath Type</th>
                    <th>Flows in config</th>
                    <th>Flows in operational</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="device in selectedDevicesList">
                    <td style="width: 20px;"><i class="fa {{ device.showFlows ? 'fa-caret-down' : 'fa-caret-right' }}" ng-click="showFlowsForDevice(device)"></i></td>
                    <td>{{ getNodeByDataPath(device.id)['node-id'] || device.id }}</td>
                    <td>{{ getNodeByDataPath(device.id)['status'] }}</td>
                    <td>{{getNodeByDataPath(device.id)['datapath-type']}}</td>
                    <td class="center">{{ summaryDevicePendingFlows(device.id).length }}</td>
                    <td class="center">{{ summaryDeviceConfiguredFlows(device.id).length }}</td>
                </tr>
                <tr ng-repeat-end ng-show="device.showFlows">
                    <td colspan="6">
                        <table class="table dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Flow Name</th>
                                    <th>Flow Id</th>
                                    <th>Table Id</th>
                                    <th>Flow State</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="flow in flows | filter: {device: device.id}">
                                    <!-- <td header="'ng-table/headers/checkbox.html'"><input type="checkbox" ng-model="checkboxes.items[flow.data.id+'@'+flow.data.table_id+'@'+flow.device]"></td> -->
                                    <td data-title="'OF_FLOW_NAME' | translate " sortable="'valueOf()[\'data\'][\'flow-name\']'" filter="{ 'flow-name' : 'text' }">{{labelCbk(flow)}}</td><!-- filter="{ 'flow-name' : 'text' }" -->
                                    <td data-title="'OF_FLOW_ID' | translate " sortable="'valueOf()[\'data\'][\'id\']'" filter="{ 'id' : 'text' }">{{flow.data.id}}</td>
                                    <td data-title="'OF_TABLE_ID' | translate " sortable="'valueOf()[\'data\'][\'table_id\']'" filter="{ 'table_id' : 'text' }">{{flow.data.table_id}}</td>
                                    <!-- <td data-title="'OM_DEVICE' | translate " sortable="'device'" filter="{ 'device' : 'text' }">{{ flow.device }}</td>
                                    <td data-title="'OM_DEVICE_TYPE' | translate " sortable="'device'" filter="{ 'device-type' : 'text' }">{{ getDeviceTypeById(flow.device) }}</td>
                                    <td data-title="'OM_OF_DEVICE_NAME' | translate " sortable="'device'" filter="{ 'device-name' : 'text' }">{{ getDeviceNameById(flow.device) }}</td> -->
                                    <td data-title="'OF_OPER' | translate " sortable="'operational'">{{flowOperationalStatus[flow.operational]}}</td>
                                    <td data-title="'OF_ACTIONS' | translate ">
                                        <!-- <div class="iconWrapper" >
                                            <a ng-show="!flow.updating" ng-click="editFlowFunc(flow)">
                                                <i class="edit-icon" tooltip="{{ 'OF_EDIT' | translate }}" ></i>
                                            </a>
                                            <a ng-show="flow.updating" >
                                                <i class="icon-spinner icon-spin" tooltip="{{ 'OF_UPDATING' | translate }}"></i>
                                            </a>
                                        </div> -->
                                        <div class="iconWrapper" >
                                            <a ng-click="!onlyInOperational(flow) && editFlowFunc(flow)">
                                                <i class="edit-icon {{onlyInOperational(flow) ? 'disabled' : ''}}" tooltip="{{ 'OF_EDIT' | translate }}" ></i>
                                            </a>
                                            <a ng-click="editFlowFunc(flow)">
                                                <i class="view-icon" tooltip="{{ 'OF_VIEW' | translate }}"></i>
                                            </a>
                                        </div>


                                        <div class="iconWrapper" >
                                            <a ng-show="!flow.deleting" ng-click="deleteFlows([flow])" >
                                                <i class="delete-icon" tooltip="{{ 'OF_BTN_DEL' | translate }}"></i>
                                            </a>
                                            <a ng-show="flow.deleting">
                                                <i class="icon-spinner icon-spin" tooltip="{{ 'OF_DELETING' | translate }}"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Flows summary table end -->
    <div class="separator"></div>
    <div class="clear"></div>

    


</div>