<div class="openFlowManager">
    <alert ng-show="loadStatusMsgs.length" type="danger">
        <b> {{'OM_LOAD_ERROR' | translate }} </b>
        <div class="text">
            <span ng-repeat="m in loadStatusMsgs track by $index" >{{m | translate}}</span>
        </div>
    </alert>
    <div ng-hide="loadStatusMsgs.length" class="ofmWrapper">
        <div class="ofmNav">
            <div class="navWrapper">
                <button class="{{view.basic ? 'active':''}}" ng-click="collapseAll(true)" tooltip="{{'OF_BAS_VIEW_TT' | translate}}" >{{'OF_BAS_VIEW' | translate}}</button>
                <button class="{{view.flowPopup || view.flowOperPopup ? 'active':''}}" ng-click="loadFlows(); toggleExpanded('flowPopup')" tooltip="{{'OF_MANAGMENT_TT' | translate}}">{{ 'OF_MANAGMENT' | translate}}</button>
                <button class="{{view.statisticsPopup ? 'active':''}}" ng-click="toggleExpanded('statisticsPopup')" tooltip="{{'OF_STATS_TT' | translate}}">{{ 'OF_STATS' | translate}}</button>
                <button class="{{view.notificationsPopup ? 'active':''}}" ng-click="toggleExpanded('notificationsPopup')" tooltip="Notifications">Notifications</button>
                <!-- <button class="{{view.hostsPopup ? 'active':''}}" ng-click="loadHostData(); toggleExpanded('hostsPopup')" tooltip="{{'OF_HOSTS_TT' | translate}}">{{ 'OF_HOSTS' | translate}}</button> -->
<!--                <button class="{{view.tagsPopup ? 'active':''}}" ng-click="toggleExpanded('tagsPopup')" tooltip="{{'OF_TAGS_TT' | translate}}">{{ 'OF_TAGS_LABEL' | translate}}</button>-->
                <div class="clear"></div>
            </div>
        </div>

        <div ng-show="showTopStatsPopup" class="popUpDevInfo">
            <button class="close" ng-click="hideTopStatsPopup()" tooltip="{{'OF_CLOSE_WIN_TT' | translate}}">×</button>
            <label class="sectionTitle">{{ 'OF_PORT_ST' | translate}}</label>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(1, null)" tooltip="{{'OF_PORT_ST_TT' | translate}}">{{ 'OF_PORT_STS' | translate}}</button>
            <label class="sectionTitle">{{ 'OF_TABLE_ST' | translate}}</label>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(0, 'getFlowSstats')" tooltip="{{'OF_FLOW_ST_TT' | translate}}">{{ 'OF_FLOW_ST' | translate}}</button>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(0, 'getFlowTstats')" tooltip="{{'OF_FLOW_TB_ST_TT' | translate}}">{{ 'OF_FLOW_TB_ST' | translate}}</button>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(0, 'getAggregateFstats')" tooltip="{{'OF_AGG_ST_TT' | translate}}">{{ 'OF_AGG_ST' | translate}}</button>
            <label class="sectionTitle">{{ 'OF_OTHER_ST' | translate}}</label>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(2, null)" tooltip="{{'OF_QU_ST_TT' | translate}}">{{ 'OF_QUEUE_ST' | translate}}</button>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(3, null)" tooltip="{{'OF_GROUP_ST_TT' | translate}}">{{ 'OF_GROUP_ST' | translate}}</button>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(4, null)" tooltip="{{'OF_METER_ST_TT' | translate}}">{{ 'OF_METER_ST' | translate}}</button>
            <button class="btn btn-primary" ng-click="showPopUpStatistics(5, null)" tooltip="{{'OF_METER_FT_ST_TT' | translate}}">{{ 'OF_METER_FT_ST' | translate}}</button>
        </div>

        <div class="nextTopo col-md-12">
            <!-- <div class="hostDevices" style="display: none;">
                <div><label>Show links :</label><input type="checkbox" ng-change="topoExpandLink()" ng-model="linkExpanded" /></div>
            </div> -->

            <alert ng-show="loadStatusTopoMsgs.length" type="danger">
                <b> {{'OM_LOAD_ERROR' | translate }} </b>
                <div class="text">
                    <span ng-repeat="m in loadStatusTopoMsgs track by $index" >{{m | translate}}</span>
                </div>
            </alert>

            <next-topology topo="topo" topology-data="topologyData" custom-functions="customFunctionality" show-host-device="showHostDevice" node-click-callback="toggleSelDevice" highlight-node="highlightNode" get-links-by-hops="getLinksByHops" highlight-path="highlightPath" clear-path-layer="clearPathLayer" unselect-all-nodes="unselectAllNodes" highlight-link-by-port="highlightLinkByPort" highlight-link="highlightLink" fade-in-all-layers="fadeInAllLayers"></next-topology>

			<div class="panel-wrapper full-height">
				<!-- panel navigation -->
				<div class="panel-nav">
					<ul>
						<li><a href="#"  id="node-panel-opener" title="Open nodes panel" class='noselect'><i class="fa fa-dot-circle-o fa-2x"></i></a></li>
						<li><a href="#"  id="link-panel-opener" title="Open links panel" class='noselect'><i class="fa fa-link fa-2x"></i></a></li>
						<li><a href="#"  id="policy-panel-opener" title="Open policy panel" class='noselect'><i class="fa fa-file-text-o fa-2x"></i></a></li>
					</ul>
				</div>
				<!-- panel content -->
				<div id="side-panel" class="full-height">
					<div class="full-height" style="width: 405px">
						<div class="full-size">
							<div ng-show="panel.type === 'node'" class="full-size">
								<div ng-include src="view_path+'panel-node.tpl.html'" class="full-size"></div>
							</div>
							<div ng-show="panel.type === 'link'" class="full-size">
								<div ng-include src="view_path+'panel-link.tpl.html'" class="full-size"></div>
							</div>
							<div ng-show="panel.type === 'policy'" class="full-size">
								<div ng-include src="view_path+'panel-policy.tpl.html'" class="full-size"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>

        <div class="flowInfoWrapper sample-show-hide" ng-show="view.flowPopup">
            <div ng-include src="view_path+'flow_info.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper dragAble sample-show-hide" ng-show="view.flowOperPopup">
            <div ng-include src="view_path+'flow_oper.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper dragAble sample-show-hide" ng-show="view.flowsFilter">
            <div ng-include src="view_path+'flows_filter.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper statistics sample-show-hide" ng-show="view.statisticsPopup">
            <div ng-include src="view_path+'om_statistics.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper statistics sample-show-hide" ng-show="view.tagsPopup">
            <div ng-include src="view_path+'ofm_tags.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper statistics sample-show-hide" ng-show="view.hostsPopup">
            <div ng-include src="view_path+'ofm_hosts.tpl.html'"></div>
        </div>

        <div class="flowInfoWrapper statistics sample-show-hide" ng-show="view.notificationsPopup">
            <div ng-include src="view_path+'notifications.tpl.html'"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
