<div ng-controller="notificationsCtrl">

    <button type="button" class="btn btn-primary" ng-click="getData()">Get notifications</button>
    <button type="button" class="btn btn-primary" ng-click="clearData()">Clear notifications</button>
    <table  class="table dataTable">
        <tr>
            <th>Notification Id</th>
            <th>Registration Id</th>
            <th>Time</th>
            <th>Link Id</th>
            <th>Percent value</th>
            <th>Bits per second value</th>
        </tr>
        <tr ng-repeat-start="notification in notificationsList" >
            <td rowspan="{{ notification['bandwidth-data'].length }}" style="vertical-align: middle;">{{ notification['notification-id'] }}</td>
            <td rowspan="{{ notification['bandwidth-data'].length }}" style="vertical-align: middle;">{{ notification['registration-id'] }}</td>
            <td rowspan="{{ notification['bandwidth-data'].length }}" style="vertical-align: middle;">{{ notification['time'] }}</td>
            <td>{{ notification['bandwidth-data'][0]['link-id'] }}</td>
            <td>{{ notification['bandwidth-data'][0]['percent-value'] }}</td>
            <td>{{ notification['bandwidth-data'][0]['bits-per-sec-value'] }}</td>
        </tr>
        <tr ng-repeat-end ng-repeat="bd in notification['bandwidth-data']" ng-hide="$first">
            <td>{{ bd['link-id'] }}</td>
            <td>{{ bd['percent-value'] }}</td>
            <td>{{ bd['bits-per-sec-value'] }}</td>
        </tr>
    </table>

</div>