<div class="policy-panel">
	<div ng-show="policyPanel.overview" class="full-height">
		<h3>Policies Overview</h3>
		<!-- policies -->
		<div class="panel-group height-10">
			<div ng-repeat="policy in policyData">
				<div class="panel-item {{currentPolicy['policy-id'] === policy['policy-id'] ? 'selected' : ''}}" ng-click="openPolicyDetails(policy)" id="policy-panel-item-{{policy['policy-id']}}">
					<span class="title">
						<i class="fa fa-circle {{policy['status']}}" tooltip="Status: {{policy['status']}}"></i>
						{{policy['policy-id']}}
					</span>
				</div>
			</div>
		</div>
	</div>


	<div ng-show="policyPanel.policyDetails" class="full-height">
		<h3>Policy Details</h3>
		<div class="panel-item-static">
			<div class="panel-item-back-icon" ng-click="backToPolicyList()" tooltip="Back to Policy Overview"><i class="fa fa-arrow-left"></i></div>
			<span class="panel-item-static-title"><i class="fa fa-circle {{currentPolicy['status']}}" tooltip="Status: {{currentPolicy['status']}}"></i> {{currentPolicy['policy-id']}}</span><br/>
		</div>
		<div class="panel-item-static selected" style="margin-top: -1px;">
			<span><b>Priority:</b></span><span class="policy-details">{{currentPolicy['priority']}}</span><br/>
			<span><b>Kind:</b></span><span class="policy-details">{{currentPolicy['flow-attributes']['kind']}}</span><br/>
			<span><b>Src prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['source']['ip-prefix']}}</span><br/>
			<span><b>Dst prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['destination']['ip-prefix']}}</span><br/>
			<span><b>Status:</b></span><span class="policy-details">{{currentPolicy['status']}}</span><br/>
		</div>

		<h4>Path Bundles ( {{ currentPolicy['path-bundle'].length }} )</h4>

		<div class="panel-group height-200">
			<div ng-repeat="pathBundle in currentPolicy['path-bundle']">
				<div class="panel-item {{currentPathBundle['bundle-id'] === pathBundle['bundle-id'] ? 'selected' : ''}}" ng-click="openPathBundleDetails(pathBundle)" id="policy-panel-pathbundle-{{pathBundle['bundle-id']}}">
					<span class="title">
						<i class="fa fa-circle {{pathBundle['status']}}" tooltip="Status: {{pathBundle['status']}}"></i>
						<i class="fa {{pathBundle['role'] === 'active' ? 'fa-check' : 'fa-chain-broken'}}" tooltip="Role: {{pathBundle['role']}}"></i>
						{{pathBundle['bundle-id']}}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="policyPanel.bundleDetails" class="full-height">
		<h3>Path Bundle Details</h3>
		<div class="panel-item-static">
			<div class="panel-item-back-icon" ng-click="openPolicyDetails(currentPolicy)" tooltip="Back to Policy Details"><i class="fa fa-arrow-left"></i></div>
			<span class="panel-item-static-title">
				<i class="fa fa-circle {{currentPathBundle['status']}}" tooltip="Status: {{currentPathBundle['status']}}"></i>
				<i class="fa {{currentPathBundle['role'] === 'active' ? 'fa-check' : 'fa-chain-broken'}}" tooltip="Role: {{currentPathBundle['role']}}"></i>
				{{currentPathBundle['bundle-id']}}</span><br/>
		</div>
		<div class="panel-item-static selected" style="margin-top: -1px;">
			<span><b>Role:</b></span><span class="policy-details">{{currentPathBundle['role']}}</span><br/>
			<span><b>Status:</b></span><span class="policy-details">{{currentPathBundle['status']}}</span><br/>
			<span><b>Src prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['source']['ip-prefix']}}</span><br/>
			<span><b>Dst prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['destination']['ip-prefix']}}</span><br/>
		</div>
		<br>
		<div ng-show="currentPathBundle.constraintsNumber">
			<div class="panel-item-static">
				<span class="panel-item-static-title">Constraints</span>
			</div>
			<div class="panel-item-static selected" style="margin-top: -1px;">
				<div ng-repeat="(key, value) in currentPathBundle.constraints">
					<span><b>{{key}}:</b></span><span class="policy-details">{{value}}</span><br/>
				</div>
			</div>
		</div>


		<h4>Paths ( {{ currentPathBundle['path'].length }} )</h4>
		<div class="panel-group height-200">
			<div ng-repeat="path in currentPathBundle['path']">
				<div class="panel-item {{currentPath['path-name'] === path['path-name'] ? 'selected' : ''}}" ng-click="openPathDetails(path)" ng-mouseenter="highlightPath(getLinksByHops(path.hop),'#1baafd');" id="policy-panel-path-{{path['path-name']}}">
					<span class="title">
						<i class="fa fa-circle {{path['status']}}" tooltip="Status: {{path['status']}}"></i>
						{{path.sourceNode}} - {{path.destNode}}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="policyPanel.pathDetails" class="full-height">
		<h3>Path Details</h3>
		<div class="panel-item-static">
			<div class="panel-item-back-icon" ng-click="openPathBundleDetails(currentPathBundle)" tooltip="Back to Path Bundle Details"><i class="fa fa-arrow-left"></i></div>
			<span class="panel-item-static-title">
				<i class="fa fa-circle {{currentPath['status']}}" tooltip="Status: {{currentPath['status']}}"></i>
				{{currentPath.sourceNode}} - {{currentPath.destNode}}
			</span><br/>
		</div>
		<div class="panel-item-static selected" style="margin-top: -1px;">
			<span><b>Status:</b></span><span class="policy-details">{{currentPath['status']}}</span><br/>
			<span><b>Src prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['source']['ip-prefix']}}</span><br/>
			<span><b>Dst prefix:</b></span><span class="policy-details">{{currentPolicy['flow-spec']['destination']['ip-prefix']}}</span><br/>
		</div>

		<div ng-show="currentPath.hop != undefined" class="full-height">
			<h4>Hops ( {{ currentPath.hop.length }} )</h4>
			<div class="panel-group height-120">
				<div ng-repeat="hop in currentPath.hop">
					<!-- todo: design block for hops in a special way -->
				<!--
					<div class="panel-item selected" ng-click="openHopDetails(hop)" id="policy-panel-hop-{{currentPath['path-name']}}-{{hop['order']}}">
						<span class="title">:</span>
					</div>
					-->
					<div class="panel-item-more-info selected" ng-mouseover="highlightNode(hop['hop-fb-node-id'],true)" ng-mouseleave="fadeInAllLayers()">
						<table class="niceTable">
							<tr>
								<td class="title">Hop #{{hop['order']}}</td>
								<td>{{hop['node-name']}}</td>
							</tr>
							<tr>
								<td class="title">In TP</td>
								<td>{{hop['in-tp-id']}}</td>
							</tr>
							<tr>
								<td class="title">Out TP</td>
								<td>{{hop['out-tp-id']}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>