<div class="link-panel">

	<div ng-show="linkPanel.overview">
		<h3>Links Overview</h3>
		<div class="panel-group height-25">
			<div ng-repeat="link in topo.data().links">
				<div id="link-panel-item-{{link.id}}">
					<div class="panel-item" ng-mouseover="highlightLink(link.id)" ng-click="openLinkContainerDetails(link)" ng-mouseleave="">
						<span class="title"><i class="fa fa-circle" style="color: {{link.linkColor}}" tooltip="Oper: {{link.status.operational}} / Conf: {{link.status.configured}}"></i> {{link.sourceName}} - {{link.targetName}} <span class="gray-text">({{link.status.operational}}/{{link.status.configured}})</span></span><br/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="linkPanel.linkContainerDetails">
		<h3>Connection Details</h3>

		<div class="panel-item-static">
			<div class="panel-item-back-icon" ng-click="backToLinkContainerList()" tooltip="Back to Links Overview"><i class="fa fa-arrow-left"></i></div>
			<span class="panel-item-static-title"><i class="fa fa-circle" style="color: {{currentLinkContainer.linkColor}}" tooltip="Oper: {{currentLinkContainer.status.operational}} / Conf: {{currentLinkContainer.status.configured}}"></i> {{currentLinkContainer.sourceName}} - {{currentLinkContainer.targetName}}</span><br/>
		</div>
		<div class="panel-item-static selected" style="margin-top: -1px;">
			<span><b>ECMP:</b></span><span class="policy-details">{{currentLinkContainer['ecmp'] ? 'yes' : 'no'}}</span><br/>
			<span><b>Operational:</b></span><span class="policy-details">{{currentLinkContainer.status.operational}}</span><br/>
			<span><b>Configured:</b></span><span class="policy-details">{{currentLinkContainer.status.configured}}</span><br/>
		</div>

		<h4>Links ( {{ currentLinkContainer['links'].length }} )</h4>

		<div class="panel-group height-180">
			<div ng-repeat="link in currentLinkContainer['links']">
				<div class="panel-item" ng-click="openLinkDetails(link)" id="links-panel-link-{{link.id}}">
					<span class="title">
						<i class="fa fa-circle {{link['status']}}" tooltip="Status: {{link['status']}}"></i> {{link['tp1']}} - {{link['tp2']}}
					</span>
				</div>
			</div>
		</div>

	</div>

	<div ng-show="linkPanel.linkDetails">
		<h3>Link Details</h3>


		<div class="panel-group height-10">
			<div class="panel-item-static">
				<div class="panel-item-back-icon" ng-click="openLinkContainerDetails(currentLinkContainer)" tooltip="Back to Connection Details"><i class="fa fa-arrow-left"></i></div>
				<span class="panel-item-static-title"><i class="fa fa-circle {{currentLink['status']}}" tooltip="Status: {{currentLink['status']}}"></i> {{currentLink['tp1']}} - {{currentLink['tp2']}} </span><br/>
			</div>
			<div class="panel-item-static selected" style="margin-top: -1px;">
				<span><b>Status:</b></span><span class="policy-details">{{currentLink.status}} {{ currentLink.statusDiff ? '(mixed)' : '' }}</span><br/>
				<span><b>Port 1:</b></span><span class="policy-details">{{currentLink.tp1}}</span><br/>
				<span><b>Port 2:</b></span><span class="policy-details">{{currentLink.tp2}}</span><br/>
			</div>
			<br>
			<div ng-repeat="uniLink in currentLink.links">
				<h4>Link {{$index + 1}}</h4>
				<div class="panel-item-static">
					<span class="panel-item-static-title"><i class="fa fa-circle {{uniLink['status']}}" tooltip="Status: {{uniLink['status']}}"></i> {{uniLink['linkId']}} </span><br/>
				</div>
				<div class="panel-item-static selected" style="margin-top: -1px;">
					<span><b>Status:</b></span><span class="policy-details">{{uniLink.status}}</span><br/>
					<span><b>Source Port:</b></span><span class="policy-details">{{uniLink.srcTp}}</span><br/>
					<span><b>Destination Port:</b></span><span class="policy-details">{{uniLink.tarTp}}</span><br/>
					<span ng-show="!uniLink.groups.length"><span><b>Groups:</b></span><span class="policy-details">Ungrouped</span><br/></span>
				</div>

				<div ng-show="uniLink.groups.length">
					<h4>Groups ( {{ uniLink['groups'].length }} )</h4>
					<div class="panel-group height-180">
						<div ng-repeat="group in uniLink['groups']">
							<div class="panel-item" id="links-panel-group-{{group}}">
								<span class="title">
									{{group}}<br>
								</span>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>


</div>