<div ng-controller="NotificationsCtrl" layout="row" class="h100 pce-wrapper" id="notifications-container" flex>
	<section flex layout='column' class="h100">
		<md-content flex class="md-whiteframe-2dp">


			<div ng-show="statsLoaded">
				<md-tabs md-dynamic-height md-border-bottom>
					<!-- Registrations -->
					<md-tab label="Registrations">
						<md-content class="md-padding">
							<!-- Usual header (toolbar) -->
							<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
								<div class="md-toolbar-tools">
									<h2 class="md-title">List of Registrations</h2>
									<div class="flex" flex=""></div>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true">
										<md-icon class="material-icons">filter_list</md-icon>
										<div class="md-ripple-container"></div>
									</button>
								</div>
							</md-toolbar>

							<md-table-container>
								<table md-table>
									<thead md-head md-order="deviceOrder">

									<!-- Row for each registration -->
									<tr md-row>
										<th md-column md-order-by="forwardingBoxName"><span>ID</span></th>
										<th md-column md-order-by="status"><span>Links</span></th>
										<th md-column><span>Actions</span></th>
									</tr>
									</thead>
									<tbody md-body ng-repeat="registration in stats['stat-registration'].data | filter: query.filter | orderBy: deviceOrder | limitTo: query.limit : (query.page -1) * query.limit">
									<tr md-row ng-click="openSidePanel('side_panel_registration_detail', registration)">
										<td md-cell>
											{{ registration.data['registration-id'] }}
										</td>
										<td md-cell>
											<div ng-repeat="linkName in registration.data.link">
												{{ linkName }}<br>
											</div>
										</td>
										<td md-cell>
											<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addEditRegistration(registration)">
												<md-icon class="material-icons">create</md-icon>
												<div class="md-ripple-container"></div>
												<md-tooltip>
													Edit
												</md-tooltip>
											</button>
											<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="">
												<md-icon class="material-icons">delete</md-icon>
												<md-tooltip>
													Delete
												</md-tooltip>
												<div class="md-ripple-container"></div>
											</button>
										</td>
									</tr>

									<!-- Notifications subrow -->
									<tr md-row ng-show="showNotifications">
										<td md-cell colspan="6">
											<div layout-padding class="mt20 mb20">
												<md-content ng-controller="NotificationsTableCtrl" flex class="md-whiteframe-2dp">
													<div ng-show="registration.data.notification.data.length">
														<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show" aria-hidden="false" style="">
															<div class="md-toolbar-tools">
																<h2 class="md-title">Notifications for Registration {{ registration.data['registration-id'] }}</h2>
																<div class="flex" flex=""></div>
																<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true">
																	<md-icon class="material-icons">filter_list</md-icon>
																	<div class="md-ripple-container"></div>
																</button>
															</div>
														</md-toolbar>

														<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true" style="">
															<div class="md-toolbar-tools">
																<md-icon class="material-icons">search</md-icon>
																<form class="ng-pristine ng-valid flex" name="filter.form" flex="">
																	<input class="ng-pristine ng-valid ng-touched" type="text" placeholder="search" ng-model-options="filter.options" ng-model="query.filter" aria-invalid="false" style="">
																</form>
																<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()">
																	<md-icon class="material-icons">close</md-icon>
																	<div class="md-ripple-container"></div>
																</button>
															</div>
														</md-toolbar>

														<md-table-container>
															<table md-table>
																<thead md-head md-order="notificationsOrder">
																<tr md-row>
																	<th md-column><span>ID</span></th>
																	<th md-column><span>Window</span></th>
																	<th md-column><span>Threshold value</span></th>
																	<th md-column><span>Threshold xing</span></th>
																	<th md-column><span>Threshold type</span></th>
																</tr>
																</thead>
																<tbody md-body>
																<tr md-row ng-repeat="notification in registration.data.notification.data">
																	<td md-cell>{{ notification.data['notification-id'] }}</td>
																	<td md-cell>{{ notification.data['window'] }}</td>
																	<td md-cell>{{ notification.data.threshold['threshold-value'] }}</td>
																	<td md-cell>{{ notification.data.threshold.crossing }}</td>
																	<td md-cell>{{ notification.data.threshold.type }}</td>
																</tr>
																</tbody>
															</table>
														</md-table-container>
													</div>
													<!-- Not configured notification -->
													<div ng-hide="registration.data.notification.data.length">
														<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show" aria-hidden="false" style="">
															<div class="md-toolbar-tools">
																<h2 class="md-title">Notifications for Registration {{ registration.data['registration-id'] }} are not configured</h2>
															</div>
														</md-toolbar>
														<md-button class="md-raised md-primary">Configure</md-button>
													</div>
												</md-content>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</md-table-container>
							<div layout="row">
								<md-fab-speed-dial class="md-scale md-fab-bottom-right">
									<md-fab-trigger>
										<md-button class="md-fab md-primary md-raised" aria-label="Create a registration" ng-click="addEditRegistration()">
											<md-tooltip>Create new</md-tooltip>
											<md-icon class="material-icons">add</md-icon>
										</md-button>
									</md-fab-trigger>
								</md-fab-speed-dial>
							</div>
						</md-content>
					</md-tab>
					<!-- Global parameters TAB -->
					<md-tab label="Global Parameters">
						<md-content class="md-padding">

							<!-- Usual header (toolbar) -->
							<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
								<div class="md-toolbar-tools">
									<h2 class="md-title">Global Parameters</h2>
									<div class="flex" flex=""></div>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true">
										<md-icon class="material-icons">filter_list</md-icon>
										<div class="md-ripple-container"></div>
									</button>
								</div>
							</md-toolbar>

							<!-- Toolbar with search field -->
							<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show" aria-hidden="true" style="">
								<div class="md-toolbar-tools">
									<md-icon class="material-icons">search</md-icon>
									<form class="ng-pristine ng-valid flex" name="filter.form" flex="">
										<input class="ng-pristine ng-valid ng-touched" type="text" placeholder="search"
											   ng-model-options="filter.options" ng-model="query.filter" aria-invalid="false" style="">
									</form>
									<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()">
										<md-icon class="material-icons">close</md-icon>
										<div class="md-ripple-container"></div>
									</button>
								</div>
							</md-toolbar>

							<md-table-container>
								<table md-table>
									<thead md-head md-order="parametersOrder">
									<tr md-row>
										<th md-column md-order-by="parameterName"><span>Name</span></th>
										<th md-column md-order-by="parameterValue"><span>Value</span></th>
										<th md-column><span>Actions</span></th>
									</tr>
									</thead>
									<tbody md-body ng-repeat="(paramName, paramValue) in stats['global-parameters'].data">

									<!-- READ MODE -->
									<tr md-row>
										<td md-cell>
											{{ paramName }}
										</td>
										<td md-cell>
											{{ paramValue }}
										</td>
										<td md-cell>
											<button class="md-icon-button md-button md-ink-ripple" type="button"
													ng-click="addEditGlobalParameter(paramName)">
												<md-icon class="material-icons">create</md-icon>
												<md-tooltip>Edit</md-tooltip>
												<div class="md-ripple-container"></div>
											</button>
											<button class="md-icon-button md-button md-ink-ripple" type="button"
													ng-click="warnDeleteGlobalParameter(paramName)">
												<md-icon class="material-icons">delete</md-icon>
												<md-tooltip>Delete</md-tooltip>
												<div class="md-ripple-container"></div>
											</button>
										</td>
									</tr>
									<!-- /READ MODE -->
									</tbody>
								</table>
							</md-table-container>

							<div layout="row">
								<md-fab-speed-dial class="md-scale md-fab-bottom-right">
									<md-fab-trigger>
										<md-button class="md-fab md-primary md-raised" aria-label="Create a global parameter" ng-click="addEditGlobalParameter()">
											<md-tooltip>Create new</md-tooltip>
											<md-icon class="material-icons">add</md-icon>
										</md-button>
									</md-fab-trigger>
								</md-fab-speed-dial>
							</div>
						</md-content>
					</md-tab>
					<!-- Registered events TAB -->
					<md-tab label="Events">
						<md-content class="md-padding">
							<md-button md-no-ink class="md-primary reload-button" ng-click="reloadRegisteredEvents()"><i class="material-icons">sync</i> Reload events</md-button>
							<md-button md-no-ink class="md-warn clear-button" ng-click="clearRegisteredEvents()"><i class="material-icons">clear</i> Clear events</md-button>
							<md-table-container ng-show="registeredEvents.length">
								<table md-table>
									<thead md-head md-order="parametersOrder">
									<tr md-row>
										<th md-column md-order-by="parameterName"><span>Event ID</span></th>
										<th md-column md-order-by="parameterValue"><span>Registration ID</span></th>
										<th md-column md-order-by="parameterValue"><span>Time</span></th>
										<th md-column md-order-by="parameterValue"><span>Link ID</span></th>
										<th md-column md-order-by="parameterValue"><span>Percent value</span></th>
										<th md-column md-order-by="parameterValue"><span>Bits per second value</span></th>
									</tr>
									</thead>
									<tbody md-body ng-repeat="eventContainer in registeredEvents">
									<tr md-row ng-repeat="event in eventContainer['bandwidth-data']">
										<td md-cell>
											{{ eventContainer['notification-id'] }}
										</td>
										<td md-cell>
											{{ eventContainer['registration-id'] }}
										</td>
										<td md-cell>
											{{ eventContainer['fTime'].month }}/{{ eventContainer['fTime'].day }}/{{ eventContainer['fTime'].year }}
											{{ eventContainer['fTime'].hours }}:{{ eventContainer['fTime'].minutes }}:{{ eventContainer['fTime'].seconds }}
										</td>
										<td md-cell>
											{{ event['link-id'] }}
										</td>
										<td md-cell>
											{{ event['percent-value'] }}
										</td>
										<td md-cell>
											{{ event['bits-per-sec-value'] }}
										</td>
									</tr>
									</tbody>
								</table>
							</md-table-container>
							<div ng-hide="registeredEvents.length">
								You do not have any registered events now.
							</div>
						</md-content>
					</md-tab>
				</md-tabs>
			</div>
			<div ng-show="!statsLoaded">
				<md-content class="md-padding">
					<h2 class="md-title">Statistics not loaded ... </h2>
				</md-content>
			</div>

		</md-content>
	</section>
</div>