<md-dialog ng-cloak>
	<form name="addEditRegistrationForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 ng-show="editConfig.add">Add Registration</h2>
				<h2 ng-show="editConfig.edit">Edit Registration</h2>
				<span flex></span>
				<md-button ng-click="closeRegistrationDialog()" class="md-icon-button">
					<md-icon aria-label="Close dialog">clear</md-icon>
					<md-tooltip>Close dialog window</md-tooltip>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:600px; height:500px; ">
			<md-tabs layout-fill>
				<md-tab label="Registration">
					<div layout="column" class="layout-padding-lr15">
						<div layout="row">
							<md-input-container flex>
								<label>Unique ID or name</label>
								<input
									name="regId"
									ng-model="editBuffer.id"
									ng-required="true">
								<div
									ng-messages="addEditRegistrationForm.regId.$error"
									md-auto-hide="false">
									<div ng-message="required">Required field</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">


							<md-chips
								name="links"
								ng-required="true"
								ng-model="editBuffer.links"
								md-autocomplete-snap
								flex>
								<md-autocomplete
									md-selected-item="linksChipsConfig.selectedItem"
									md-search-text="linksChipsConfig.searchText"
									md-items="link in searchForLinks(linkIds)"
									md-item-text="link.id"
									placeholder="Enter link IDs"
									flex>
									<span md-highlight-text="linksChipsConfig.searchText">{{link.id}}</span>
								</md-autocomplete>
								<md-chip-template>
									<span>
									  <strong>{{$chip.id}}</strong>
									</span>
								</md-chip-template>

							</md-chips>
							<!--<div-->
								<!--ng-messages="addEditRegistrationForm.links.$error"-->
								<!--md-auto-hide="false">-->
								<!--<div ng-message="required">Required field</div>-->
							<!--</div>-->

						</div>
					</div>
				</md-tab>
				<md-tab label="Notifications">

				</md-tab>
			</md-tabs>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="closeRegistrationDialog()">
				Close
			</md-button>
			<md-button ng-click="saveRegistration()" style="margin-right:20px;" ng-disabled="addEditRegistrationForm.$invalid">
				Save
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>